@model IEnumerable<project11.Models.Invoice>

@{
    ViewBag.Title = "viewInvoices";
}

<h2>Invoices List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.invoiceid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.invoiceid)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.customerid)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.total)
    </td>
</tr>
}

</table>
